/*page custom css*/

body {
    overflow-x: hidden;
}


$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;
$color_white: #fff;
// colors from http://www.creepyed.com/2012/09/windows-8-colors-hex-code/
$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans',
"Segoe UI",
Frutiger,
"Frutiger Linotype",
"Dejavu Sans",
"Helvetica Neue",
Arial,
sans-serif;
$display_font_family: 'Open Sans',
"Segoe UI",
Frutiger,
"Frutiger Linotype",
"Dejavu Sans",
"Helvetica Neue",
Arial,
sans-serif;
body {
    font-family: $text_font_family;
    font-size: $base_font_size;
    line-height: $base_line_height;
    font-weight: 400;
}

.navbar-toggle{
    float:left;
    margin-left:15px;
}
.tile {
    width: 100%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 35px;
    margin-bottom: 6px;
    text-align:center;
    .title {
        margin-top: 0px;
    }
    &.purple,
    &.blue,
    &.red,
    &.orange,
    &.green {
        color: #fff;
    }
    &.purple {
        background: $color_purple;
        &:hover {
            background: darken($color_purple, 10%);
        }
    }
    &.red {
        background: $color_red;
        &:hover {
            background: darken($color_red, 10%);
        }
    }
    &.green {
        background: $color_green;
        &:hover {
            background: darken($color_green, 10%);
        }
    }
    &.blue {
        background: $color_blue;
        &:hover {
            background: darken($color_blue, 10%);
        }
    }
    &.orange {
        background: $color_orange;
        &:hover {
            background: darken($color_orange, 10%);
        }
    }
}


/* Header Image Background 
   - Change the URL below to your image path 
   (example: ../images/background.jpg) */

.business-header {
    height: 250px;
    background: url('../images/header.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .tagline {
        text-shadow: 0 0 10px #000;
        color: #fff;
        line-height: 250px;
    }
}

.table-cell {
    display: table-cell;
}

.disp-table {
    display: table;
}
.tiles-cont{
    .m_left{
        padding-right: 3px;
    }
    .m_right{
        padding-left:3px;
    }
    .m_both{
        padding-right: 3px;
        padding-left:3px;
    }
}
.text-white{
    color:$color_white;
}
