/*page custom css*/
$color_purple: #5133AB;
$color_red: #d9534f;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;
$color_white: #fff;
$color_black: #333;
// colors from http://www.creepyed.com/2012/09/windows-8-colors-hex-code/
$base_font_size: 16px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans',
"Segoe UI",
Frutiger,
"Frutiger Linotype",
"Dejavu Sans",
"Helvetica Neue",
Arial,
sans-serif;
$display_font_family: 'Open Sans',
"Segoe UI",
Frutiger,
"Frutiger Linotype",
"Dejavu Sans",
"Helvetica Neue",
Arial,
sans-serif;
body {
    overflow-x: hidden;
    padding-top:50px;
    font-family: $text_font_family;
    font-size: $base_font_size;
    line-height: $base_line_height;
    font-weight: 400;
}

.navbar-toggle{
    float:left;
    margin-left:8px;
}
.tile {
    width: 100%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 35px;
    margin-bottom: 6px;
    text-align:center;
    color:#fff;
    font-weight: bold;
    .title {
        margin-top: 0px;
    }
    &.tile-small{
        width: 48%;
        float: left;
        padding: 24px;
        margin-right: 3px;
        margin-left: 4px;
    }
    &.purple,
    &.blue,
    &.red,
    &.orange,
    &.green {
        color: #fff;
    }
    &.purple {
        background: $color_purple;
        &:hover {
            background: darken($color_purple, 10%);
        }
    }
    &.red {
        background: $color_red;
        &:hover {
            background: darken($color_red, 10%);
        }
    }
    &.green {
        background: $color_green;
        &:hover {
            background: darken($color_green, 10%);
        }
    }
    &.blue {
        background: $color_blue;
        &:hover {
            background: darken($color_blue, 10%);
        }
    }
    &.orange {
        background: $color_orange;
        &:hover {
            background: darken($color_orange, 10%);
        }
    }
    &.bg-temple{
        background: url(../images/temple.png) center center no-repeat;
        opacity : 0.8;
        z-index: -1;
        border:1px solid #ccc;
    }
}


/* Header Image Background 
   - Change the URL below to your image path 
   (example: ../images/background.jpg) */

.business-header,
.details-panel {
    height: 250px;
    background: url('../images/header.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .tagline {
        text-shadow: 0 0 10px #000;
        color: #fff;
        line-height: 250px;
    }
}
.details-panel{
    background: url('../images/donation.png') center center no-repeat;
    height: 200px;
}

.table-cell {
    display: table-cell;
}

.disp-table {
    display: table;
}
.tiles-cont{
    padding-top:15px;
    .m_left{
        padding-right: 3px;
    }
    .m_right{
        padding-left:3px;
    }
    .m_both{
        padding-right: 3px;
        padding-left:3px;
    }
}
.m_btntab{
    padding: 0;
    position: fixed;
    z-index:10;
    .btn{
        padding:14px 12px !important;
        font-size: 16px;
        font-weight: bold;
        color: $color_white;
        background-color: $color_black;
        border-color: $color_black;
        border-radius: 0;
        &.active{
            background-color:$color_red;
            border-color: $color_red;
        }
    }
}

.text-white{
    color:$color_white;
}

.margin-top-small{
    margin-top:24px !important;
}
.tabcontent{
    margin-top:50px;
}
.collapsed{
    .glyphicon-chevron-up{
        &:before{
            content: '\e114';
        }
    }
}

/*customized top bar */
.m_nav-bar{
    margin-top:10px;
    font-size:18px;
    color:#fff;
}

.navbar-fixed-bottom{
    height: 55px;
}

.form-group{
    margin-bottom: 0;
    margin-top:5px;
    #exampleInputAmount{
        height: 35px;
    }
}

.padding-all-zero{
    padding:0;
}

.navbar-title{
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: $color_white;
}
